# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Lucia\OneDrive - Champlain Regional College\SEMESTER_2\JAVA_2\CODE\IN_CLASS_EXAMPLES\src\OBJECT_ORIENTED_PROGRAMMING_CHAMPLAIN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
